{% extends 'panel.html.twig' %}
{% set title = 'SmsTemplate - Statusy - edycja' %}
{% set header_title = title %}
{% block stylesheets %} {{ parent() }}
    {{ block("stylesheets", "_modules/_colorPicker.html.twig") }}
{% endblock %}
{% block javascripts_bottom %} {{ parent() }}
    {{ block("javascripts_bottom", "_modules/_colorPicker.html.twig") }}
{% endblock %}
{% block body %} {{ parent() }}
    {{ include('smsTemplate/status/_form.html.twig', {'button_label': 'Zaaktualizuj'}) }}
    {{ include('smsTemplate/status/_delete_form.html.twig') }}
    <a href="">Zależności</a>
{% endblock %}