{% extends 'panel.html.twig' %}
{% block stylesheets %}{{ parent() }}
    {{ block("stylesheets", "_modules/_comments.html.twig") }}
    {{ block("stylesheets", "_modules/_fileinput.html.twig") }}
{% endblock %}
{% block javascripts_bottom %}{{ parent() }}
    {{ block("javascripts_bottom", "_modules/_comments.html.twig") }}
    {{ block("javascripts_bottom", "_modules/_fileinput.html.twig") }}

    <script>
        $(document).ready(function () {
            $('div.comment-container').comment({
                title: 'Liczba komentarzy:',
                url_get: '{{ path('settlement_getComments', {id: settlement.id}) }}',
                url_input: '{{ path('settlement_addNewComment', {id: settlement.id}) }}',
                url_delete: '{{ path('settlement_deleteComment', {id: settlement.id}) }}',
                limit: 10,
                auto_refresh: false,
                refresh: 10000,
                transition: 'slideToggle',
            });

        });
        $('#deleteCommentBtn').click(function () {
            $.ajax({
                url: '{{ path('settlement_deleteComment', {id: settlement.id}) }}',
                data: {
                    id: $('#deleteCommentBtn').attr('data-id'),
                },
                type: 'post',
                success: function (json) {
                    $('#posted-' + json).remove();
                }
            });
        });
    </script>
{% endblock %}
{% block body %} {{ parent() }}
    <div class="row">
        <div class="col-12 col-lg-6">
            {% include 'other/settlement/_form.html.twig' %}
            {# TOTO Pliki {% include 'other/settlement/_content/_files.html.twig' with {files: settlement.file} %}#}
            {% include 'other/settlement/_delete_form.html.twig' %}
        </div>
        {# TOTO Komentarze i Historia<div class="col-12 col-lg-6">{% include "other/settlement/_content/_comments.html.twig" %}
            {% include "other/settlement/_content/_history.html.twig" %}</div>#}
    </div>



{% endblock %}