<title>{{ getSetting('pageTitle') }} {% if title is defined and title != "" %} - {{ title }} {% endif %}</title>
<meta content="{{ getSetting('description') }} {% if description is defined and description != "" %} - {{ description }} {% endif %}" name="description">
<meta content="{{ getSetting('keywords') }} {% if keywords is defined and keywords != "" %} - {{ keywords }} {% endif %}" name="keywords">